# Build folders
build/

# Dependency directories
node_modules/

#test
src/__tests__/

.env

# Environment variables
.env*
!.env.sample

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Jest coverage report
coverage/

# Mac files
.DS_Store

# NextJS
/.next/
/out/

# Config
config/*
!config/sample.env

*/**/subscriptions_*.csv
*/**/subscriptions_*.json
!*/**/subscriptions_10_08-15.json